<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Assets/css")
</head>
<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Default")" class="navbar-brand">BillBox</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                            <li><a href="@Url.Action("Logout", "Default")"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }

        </nav>

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <!--
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
					-->
                    <li class="active">
                        <a href="@Url.Action("NewBill", "Payment")"><i class="fa fa-bar-chart-o fa-fw"></i>Payments<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("NewBill", "Payment")">New Payment</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PaymentHistory", "Payment")">Payment History</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Agent")"><i class="fa fa-dashboard fa-fw"></i>Agents<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index", "Agent")">View Agents</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Agent")">Create Agent</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Subscriber")"><i class="fa fa-sitemap fa-fw"></i>Subscribers<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index", "Subscriber")">View Subscribers</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Subscriber")">Create Subscriber</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Collections", "Report")"><i class="fa fa-table fa-fw"></i>Reports</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "User")"><i class="fa fa-edit fa-fw"></i>Users<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index", "User")">View Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "User")">Create User</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Settings")"><i class="fa fa-wrench fa-fw"></i>Settings<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index", "Settings")">General Settings</a>
                            </li>
                            <li>
                                <a href="@Url.Action("UserLevelRights", "Settings")">Permissions</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListPaymentMethods", "Settings")">Payment Methods</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Assets/sb.js")
    @RenderSection("scripts", required: false)
</body>
</html>
