@model BillBox.Models.Bill

@{
    ViewBag.Title = "New Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var subscribers = ViewBag.subscribers as IEnumerable<BillBox.Models.Subscriber>;
}


<div class="row">
    <div class="col-lg-8">
        <!--<h1 class="page-header">New Payment</h1>-->
        <div class="panel panel-default">
            <div class="panel-heading">
                New Payment
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("NewBill", "Payment", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SubscriberId)
                                @Html.DropDownListFor(model => model.SubscriberId, new SelectList(subscribers, "SubscriberId", "Name"), "Select Subscriber", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubscriberId)
                            </div>
                            <div id="capture-fields-area"></div>

                            <button type="submit" class="btn btn-default">Next</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            loadSubscribers($('#@Html.IdFor(model => model.SubscriberId)').val());

            $('#@Html.IdFor(model => model.SubscriberId)').change(function (e) {
                loadSubscribers($(this).val());
            });
        });

        function loadSubscribers(subscriberId) {
            if (subscriberId) {

                var captureFields = "";

                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@Url.Action("GetCaptureFields", "Payment")',
                    data: { 'subscriberId': subscriberId },
                    success: function (html) {
                        $("#capture-fields-area").html(html);
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            } else {
                $("#capture-fields-area").html("");
            }
        }
    </script>
}
