@model BillBox.Models.Bill

@{
    ViewBag.Title = "New Payment";
    Layout = "~/Views/Shared/_Default.cshtml";

    var subscribers  = ViewBag.subscribers as IEnumerable<BillBox.Models.Subscriber>;
    var paymentMethods = ViewBag.paymentMethods as IEnumerable<BillBox.Models.PaymentMethod>;
}

<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">
            <div class="form-container">
                @using (Html.BeginForm("NewPayment","Payment", FormMethod.Post, new { @class = "wf" })) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset class="top bottom">
                        <legend>New Payment</legend>
                        <div class="row top clearfix">
                                @Html.LabelFor(model => model.SubscriberId, "Subscriber")
                                @Html.DropDownListFor(model => model.SubscriberId, new SelectList(subscribers, "SubscriberId", "Name"), "Select Subscriber")
                                @Html.ValidationMessageFor(model => model.SubscriberId)
                        </div>

                        <div id="capture-fields-area"></div>
        
                    </fieldset>
                    <div class="buttons bottom">
                            <input type="submit" value="Next" />
                    </div>
                }
            </div>
        </div>
        <div class="section-footer">
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#@Html.IdFor(model => model.SubscriberId)').change(function (e) {

            var subscriberId = $(this).val();

            if (subscriberId) {

                var captureFields = "";

                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@Url.Action("GetCaptureFields", "Payment")',
                        data: { 'subscriberId': subscriberId },
                        success: function (html) {
                            $("#capture-fields-area").html(html);
                        },
                        error: function () {
                            alert("Error");
                        }
                    });
                } else {
                    $("#capture-fields-area").html("");
                }
            });
        });
    </script>
}
