@model BillBox.Models.Payment

@{
    ViewBag.Title      = "New Payment";
    Layout             = "~/Views/Shared/_Default.cshtml";

    var paymentMethods = ViewBag.paymentMethods as IEnumerable<BillBox.Models.PaymentMethod>;
    var bill           = ViewBag.bill as BillBox.Models.Bill;
    int paymentsCount  = bill != null ? bill.Payments.Count : 0;
    string formClass   = paymentsCount > 0 ? "none" : "block";
}

<div class="action">
    <div class="section">
        <div class="section-header">
                        @if(bill != null) {
                        <div class="">
                            <dl>
                                <dt>Bill Id</dt>
                                <dd>@bill.BillId</dd>
                
                                <dt>Subscriber</dt>
                                <dd>@bill.Subscriber.Name</dd>
                
                                <dt>Invoice Number</dt>
                                <dd>@bill.InvoiceNumber</dd>
                
                                <dt>Agent</dt>
                                <dd>@bill.Agent.Name</dd>
                
                                <dt>Branch</dt>
                                <dd>@bill.AgentBranch.Name</dd>
                
                                <dt>User</dt>
                                <dd>@bill.User.Name</dd>
                
                                <dt>Date</dt>
                                <dd>@bill.Date</dd>

                                @if(bill.Payments != null)
                                {
                                    foreach(BillBox.Models.Payment payment in bill.Payments)
                                    {
                                        <hr />
                                        <dt>Payment Method</dt>
                                        <dd>@payment.PaymentMethod.Name</dd>  
                                        <dt>Amount</dt>
                                        <dd>@payment.Amount</dd> 
                                        foreach(BillBox.Models.PaymentPaymentMethodCaptureField field in payment.PaymentPaymentMethodCaptureFields)
                                        {
                                            <dt>@field.PaymentMethodCaptureField.DisplayName</dt>
                                            <dd>@field.Value</dd>
                                        }
                                    }
                                }

                            </dl>
                        </div>
                        }
        </div>
        <div class="section-content">
            <div class="form-container" id="payment-form-container" style="display: @formClass">
                @using (Html.BeginForm("NewPayment","Payment", FormMethod.Post, new { @class = "wf" })) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset class="top bottom">
                        <legend>New Payment</legend>
                        @Html.HiddenFor(model => model.BillId)

                        <div class="row top clearfix">
                                @Html.LabelFor(model => model.PaymentMethodId)
                                @Html.DropDownListFor(model => model.PaymentMethodId, new SelectList(paymentMethods, "PaymentMethodId", "Name"))
                                @Html.ValidationMessageFor(model => model.PaymentMethodId)
                        </div>
                        <div class="row clearfix" id="amount-field" style="display: none">
                                @Html.LabelFor(model => model.Amount)
                                @Html.TextBoxFor(model => model.Amount)
                                @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                        <div id="capture-fields-area"></div>
        
                    </fieldset>
                    <div class="buttons bottom">
                            <input type="submit" value="Add" />
                            <input type="submit" id="cancel-new-payment" value="Cancel" />
                    </div>
                }
            </div>
        </div>
        <div class="section-footer">
            <div class="action-menu" id="bill-action-menu">
                @if (paymentsCount > 0)
                {  
                <ul>
                    <li>@Html.ActionLink("Post", "PostBill", new { billId = bill.BillId  })</li>
                    <li><a href="#" id="add-payment-link">Add Payment</a></li>
                </ul>
                }
            </div>
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            loadCaptureFields($('#@Html.IdFor(model => model.PaymentMethodId)').val());

            $('#@Html.IdFor(model => model.PaymentMethodId)').change(function (e) {
                loadCaptureFields($(this).val());
            });

            $("#add-payment-link").on("click", function (e) {
                e.preventDefault();
                $("#payment-form-container").show();
                $("#bill-action-menu").hide();
            });

            $("#cancel-new-payment").on("click", function (e) {
                e.preventDefault();
                $("#payment-form-container").hide();
                $("#bill-action-menu").show();
            });
        });

        function loadCaptureFields(paymentMethodId)
        {
            if (paymentMethodId)
            {
                var captureFields = "";

                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@Url.Action("GetPaymentMethodCaptureFields", "Payment")',
                    data: { 'paymentMethodId': paymentMethodId },
                    success: function (html) {
                        $("#capture-fields-area").html(html);
                        $("#amount-field").show();
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            } else {
                $("#capture-fields-area").html("");
            }
        }
    </script>
}
