@model BillBox.Models.Bill

@{
    ViewBag.Title = "View Receipt";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div id="receipt-outline">
    <div class="receipt-header">
        <div class="logo">
        </div>
        <div class="address">
        </div>
    </div>

    <div class="receipt-body">
        <div class="bill-fields">
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.SubscriberId)</td>
                    <td>@Html.DisplayFor(m => m.Subscriber.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.ReceiptNumber)</td>
                    <td>@Html.DisplayFor(m => m.ReceiptNumber)</td>

                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Date)</td>
                    <td>@Html.DisplayFor(m => m.Date)</td>
                </tr>
            </table>
        </div>

        <div class="bill-payments">
            <table>
                <thead>
                    <tr>
                        <th>Payment(s)</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BillBox.Models.Payment payment in Model.Payments)
                    {
                        <tr>
                            <td>@payment.PaymentMethod.Name</td>

                            <td>@BillBox.Common.Util.DisplayForDollar(payment.Amount)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <hr />
        <div class="bill-amounts">
            <table>
                <tr>
                    <td>Total</td>
                    <td>@BillBox.Common.Util.DisplayForDollar(Model.Amount())</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="receipt-footer">
    </div>
</div>
