@model BillBox.Models.Payment

@{
    ViewBag.Title = "New Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var paymentMethods = ViewBag.paymentMethods as IEnumerable<BillBox.Models.PaymentMethod>;
    var bill = ViewBag.bill as BillBox.Models.Bill;
    int paymentsCount = bill != null ? bill.Payments.Count : 0;
    string formDisplay = paymentsCount > 0 ? "none" : "block";
}

<div class="row main">
    <div class="col-lg-8">
        <!--<h1 class="page-header">New Payment</h1>-->
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (bill != null)
                {
                    <div class="">
                        <dl>
                            <dt>Subscriber</dt>
                            <dd>@bill.Subscriber.Name</dd>

                            <dt>Invoice Number</dt>
                            <dd>@bill.ReceiptNumber</dd>

                            <dt>Date</dt>
                            <dd>@bill.Date</dd>

                            @if (bill.Payments != null)
                            {
                                foreach (BillBox.Models.Payment payment in bill.Payments)
                                {
                                <hr />
                                <dt>Payment Method</dt>
                                <dd>@payment.PaymentMethod.Name</dd>  
                                <dt>Amount</dt>
                                <dd>@BillBox.Common.Util.DisplayForDollar(payment.Amount)</dd> 
                                    foreach (BillBox.Models.PaymentPaymentMethodCaptureField field in payment.PaymentPaymentMethodCaptureFields)
                                    {
                                <dt>@field.PaymentMethodCaptureField.DisplayName</dt>
                                <dd>@field.Value</dd>
                                    }
                                }
                            }

                        </dl>
                    </div>
                }
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-container" id="payment-form-container" style="display: @formDisplay">
                        <div class="col-lg-6">
                            @using (Html.BeginForm("NewPayment", "Payment", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.BillId)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PaymentMethodId)
                                    @Html.DropDownListFor(model => model.PaymentMethodId, new SelectList(paymentMethods, "PaymentMethodId", "Name"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PaymentMethodId)
                                </div>
                                <div class="form-group" id="amount-field" style="display: none">
                                    @Html.LabelFor(model => model.Amount)
                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Amount)
                                </div>
                            
                                <div id="capture-fields-area"></div>

                                <button type="submit" class="btn btn-default">Add</button>
                                <button type="reset" id="cancel-new-payment">Cancel</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (paymentsCount > 0)
            {  
                <div class="panel-footer">
                    <ul class="action-menu">
                        <li>@Html.ActionLink("Post", "PostBill", new { billId = bill.BillId })</li>
                        <li><a href="#" id="add-payment-link">Add Payment</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            loadCaptureFields($('#@Html.IdFor(model => model.PaymentMethodId)').val());

            $('#@Html.IdFor(model => model.PaymentMethodId)').change(function (e) {
                loadCaptureFields($(this).val());
            });

            $("#add-payment-link").on("click", function (e) {
                e.preventDefault();
                $("#payment-form-container").show();
                $("#bill-action-menu").hide();
            });

            $("#cancel-new-payment").on("click", function (e) {
                e.preventDefault();
                $("#payment-form-container").hide();
                $("#bill-action-menu").show();
            });
        });

        function loadCaptureFields(paymentMethodId) {
            if (paymentMethodId) {
                var captureFields = "";

                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@Url.Action("GetPaymentMethodCaptureFields", "Payment")',
                    data: { 'paymentMethodId': paymentMethodId },
                    success: function (html) {
                        $("#capture-fields-area").html(html);
                        $("#amount-field").show();
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            } else {
                $("#capture-fields-area").html("");
            }
        }
    </script>
}
