@model IEnumerable<BillBox.Models.Bill>
@{
    ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">
            <table>
                <caption>Payment History</caption>
                <thead>
                    <tr>
                        <th>Bill Id</th>
                        <th>Subscriber</th>
                        <th>Invoice Number</th>
                        <th>Agent</th>
                        <th>Agent Branch</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BillBox.Models.Bill bill in Model)
                    {
                        <tr>
                            <td>@bill.BillId</td>
                            <td>@bill.Subscriber.Name</td>
                            <td>@bill.InvoiceNumber</td>
                            <td>@bill.Agent.Name</td>
                            <td>@bill.AgentBranch.Name</td>
                            <td>@bill.User.Name</td>
                            <td>@bill.Date</td>
                            <td>
                                @Html.ActionLink("View", "ViewBill", "Payment", new { billId = @bill.BillId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <div class="section-footer">
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}