@model IEnumerable<BillBox.Models.Subscriber>
@{
    ViewBag.Title = "Subscribers";
    Layout = "~/Views/Shared/_Default.cshtml";    
}

<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">
            <table>
                <caption>Subscribers</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Operating Name</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Fax Number</th>
                        <th>Email</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (BillBox.Models.Subscriber subscriber in Model)
                {
                    <tr>
                        <td>@subscriber.Name</td>
                        <td>@subscriber.OperatingName</td>
                        <td>
                            @subscriber.AddressStreet
                            <br /> 
                            @subscriber.AddressCity

                            @if(subscriber.Parish != null){
                                <br />
                                @subscriber.Parish.Name
                            }
                        </td>
                        <td>@subscriber.ContactNumber</td>
                        <td>@subscriber.FaxNumber</td>
                        <td>@subscriber.EmailAddress</td>
                        <td>
                            @Html.ActionLink("View", "Details", "Subscriber", new { id = @subscriber.SubscriberId }, null) | 
                            @Html.ActionLink("Edit", "Edit", "Subscriber", new { id =  @subscriber.SubscriberId }, null)
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <div class="section-footer">
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}
