@model BillBox.Models.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Default.cshtml";
    var Parishes = (ViewBag.Parishes != null) ? ViewBag.Parishes as IEnumerable<BillBox.Models.Parish> : null;
    var UserLevels = (ViewBag.UserLevels != null) ? ViewBag.UserLevels as IEnumerable<BillBox.Models.UserLevel> : null;
    var Agents = (ViewBag.Agents != null) ? ViewBag.Agents as IEnumerable<BillBox.Models.Agent> : null;
    var Branches = (ViewBag.AgentBranches != null) ? ViewBag.AgentBranches as IEnumerable<BillBox.Models.AgentBranch> : null;
}
<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">
            <div class="form-container">
                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "wf" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset class="top">
                        <legend>Edit User</legend>

                        @Html.HiddenFor(model => model.UserId)

                        <div class="row top clearfix">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.Username)
                            @Html.TextBoxFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password, new { data_val = false })
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.AddressStreet)
                            @Html.TextBoxFor(model => model.AddressStreet)
                            @Html.ValidationMessageFor(model => model.AddressStreet)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.AddressCity)
                            @Html.TextBoxFor(model => model.AddressCity)
                            @Html.ValidationMessageFor(model => model.AddressCity)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.ParishId)
                            @Html.DropDownListFor(model => model.ParishId, new SelectList(Parishes, "ParishId", "Name"), "Select Parish")
                            @Html.ValidationMessageFor(model => model.ParishId)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.ContactNumber)
                            @Html.TextBoxFor(model => model.ContactNumber)
                            @Html.ValidationMessageFor(model => model.ContactNumber)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.EmailAddress)
                            @Html.TextBoxFor(model => model.EmailAddress)
                            @Html.ValidationMessageFor(model => model.EmailAddress)
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.AgentId)
                            @Html.DropDownListFor(model => model.AgentId, new SelectList(Agents, "AgentId", "Name"), "Select Agent")
                            @Html.ValidationMessageFor(model => model.AgentId)
                        </div>

                        <div class="row clearfix">
                            <div id="agent-branches-area">
                                @Html.LabelFor(model => model.AgentBranchId)  

                                @if (Branches != null)
                                {
                                     @Html.DropDownListFor(model => model.AgentBranchId, new SelectList(Branches, "BranchId", "Name"), "Select Branch")
                                } 
                                else 
                                {
                                     @Html.DropDownListFor(model => model.AgentBranchId, new SelectList("", "", ""), "Select Branch")
                                }                              
                               
                                @Html.ValidationMessageFor(model => model.AgentBranchId)
                            </div>
                        </div>

                        <div class="row clearfix">
                            @Html.LabelFor(model => model.UserLevelId)
                            @Html.DropDownListFor(model => model.UserLevelId, new SelectList(UserLevels, "LevelId", "LevelName"), "Select User Level")
                            @Html.ValidationMessageFor(model => model.UserLevelId)
                        </div>
                    </fieldset>
                    
                    <fieldset class="buttons bottom">
                        <input type="submit" value="Save" />
                    </fieldset>
                }
            </div>
        </div>
        <div class="section-footer">
        </div>
    </div>
</div>


@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#@Html.IdFor(m => m.AgentId)').change(function (e) {

                var agentId = $(this).val();

                if (agentId) {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("AgentBranches", "User")',
                        data: { 'agentId': agentId },
                        success: function (html) {
                            $("#agent-branches-area").html(html);
                        },
                        error: function () {
                            alert("Error loading agent branches");
                        }
                    });
                } else {
                    $("#agent-branches-area").html("");
                }
            });
        });
    </script>
}

