@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Default.cshtml";
    
    var users = ViewBag.users as IEnumerable<BillBox.Models.User>;
}

<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">
            <table>
                <caption>Users</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>User Level</th>
                        <th>Agent</th>
                        <th>Branch</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(BillBox.Models.User user in users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Username</td>
                        <td>@if(@user.UserLevel != null) { @user.UserLevel.LevelName }</td>
                        <td>@if(@user.Agent != null) { @user.Agent.Name }</td>
                        <td>@if(@user.AgentBranch != null) { @user.AgentBranch.Name }</td>
                        <td>
                            @Html.ActionLink("View", "Details", "User", new { id = @user.UserId }, null) | 
                            @Html.ActionLink("Edit", "Edit", "User", new { id = @user.UserId }, null)
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <div class="section-footer">
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu");
}
