@using BillBox.Common
@model BillBox.Models.User

@{
    ViewBag.Title = "GetUser";
    var user = (ViewBag.User != null) ? ViewBag.User : null;
    var error = (ViewBag.Error != null) ? ViewBag.Error : null;
    var level = (user != null && user.UserLevel != null) ? user.UserLevel : null;
    var agent = (user != null && user.Agent!= null) ? user.Agent: null;
    var branch = (user != null && user.AgentBranch != null) ? user.AgentBranch : null;
    var parish = (user != null && user.Parish != null) ? user.Parish : null;
    
   
}

<h2>GetUser</h2>

@if (error != null)
{
    <p>@error</p>
}
else
{
    <p>Name: @user.Name</p> 
    <p>Role: @((level != null) ? level.LevelName : null)</p>   
    <p>Parish: @((parish != null) ? parish.Name: null)</p>
    <p>Agent: @((agent != null) ? agent.Name : null)</p>
    <p>Agent Branch: @((branch != null) ? @branch.Name : null)</p>
    
    
}

@using(Html.BeginForm())
{
    Html.TextBoxFor(u => u.AgentBranch.Name);
}
