@model IEnumerable<BillBox.Models.PaymentMethod>
@{
    ViewBag.Title = "Payment Methods";
    Layout = "~/Views/Shared/_Default.cshtml";
    }

<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">
            <table>
                <caption>Payment Methods</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(BillBox.Models.PaymentMethod paymentMethod in Model)
                {
                    <tr>
                        <td>@paymentMethod.Name</td>

                        <td>@Html.ActionLink("View", "ViewPaymentMethod", "Settings", new { paymentMethodId = @paymentMethod.PaymentMethodId }, null) |
                            @Html.ActionLink("Edit", "EditPaymentMethod", "Settings", new { paymentMethodId = @paymentMethod.PaymentMethodId }, null)
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <div class="section-footer">
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}
